body {
  font-family: "Lato", sans-serif;
}

#loader {
  border: 5px solid black;
  border-radius: 50%;
  border-top: 5px solid white;
  width: 50px;
  height: 50px;
  animation: spin 0.2s linear infinite;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.panel-body {
  padding: 20px 8px 8px 25px;
  text-decoration: none;
  border-style: solid;
  background-color: rgb(212, 207, 207);
  width: 580px;
  font-size: 15px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 40px;
  margin-top: -2%;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-bottom: 2px solid black;

  border-right: 2px solid black;
  transform: rotate(310deg);
  animation: animate 1s infinite;
}

.span:nth-child(2) {
  animation-delay: -0.2s;
}
.span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(310deg) translate(-20%, -20%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(310deg) translate(20%, 20%);
  }
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(187, 183, 183);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(53, 51, 51);
}
